{% extends "booklib/base_generic.html" %}

{% block content %}
<h1>Book Library DB Statistics</h1>

  <p>The library DB has the following record counts:</p>

        <table>
            <thead>
                <th> Books </th>
                <th> Book instances </th>
                <th> Authors </th>
                <th> Genres </th>
            </thead>
            <tr>
                <td> {{ num_books }} </td>
                <td> {{num_instances}} </td>
                <td> {{num_authors}} </td>
                <td> {{num_genres}} </td>
            </tr>
        </table>
        
{% endblock %}


